{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}">
    {% endblock %}

{% block title %}Éditer mon profil{% endblock %}


{% block body %}

    <h1>Éditer mon profil</h1>
    <img class="displayed" src="{{ asset('uploads/brochures/' ~ app.user.brochureFilename)}}" alt="Image de profil">

    {{ include('participant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{#    Donne un bug. Pour le moment, on ne peut pas supprimer d'utilisateurs.
{% if is_granted('ROLE_ADMIN') %}
    {{ include('participant/_delete_form.html.twig') }}
    {% endif %}
#}
    <button><a href="{{ path('app_participant_index') }}">Retour à la liste des participants</a></button>

{% endblock %}
