{% extends 'base.html.twig' %}

{% block title %}Liste des participants{% endblock %}

{% block body %}
    <h1>Liste des participants</h1>

    <table class="table">
        <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <th>ID</th>
                {% endif %}
                <th>Email</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Rôle</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Mot de passe</th>
                {% endif %}
                <th>Pseudo</th>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Membre actif</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ participant.id }}</td>
                {% endif %}
                <td>{{ participant.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ participant.roles ? participant.roles|json_encode : '' }}</td>
                {% endif %}
{#                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ participant.password }}</td>
                {% endif %}#}
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.lastName }}</td>
                <td>{{ participant.firstName }}</td>
                <td>{{ participant.phone }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ participant.active ? 'Oui' : 'Non' }}</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_participant_show', {'id': participant.id}) }}">Afficher le profil</a>
{#                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Éditer le profil</a>
                    {% endif %}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <button><a href="{{ path('app_participant_new') }}">Créer un nouveau participant</a></button>
    {% endif %}
{% endblock %}
