{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}">
    {% endblock %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <img class="displayed" src="{{ asset('uploads/brochures/' ~ participant.brochureFilename)}}" alt="Image de profil">
    <table class="table">
        <tbody>
            <tr>
                <th>Prénom : </th>
                <td>{{ participant.firstName }}</td>
            </tr>
            <tr>
                <th>Nom : </th>
                <td>{{ participant.lastName }}</td>
            </tr>
            <tr>
                <th>Téléphone : </th>
                <td>{{ participant.phone }}</td>
            </tr>
            <tr>
                <th>Email : </th>
                <td>{{ participant.email }}</td>
            </tr>
           <tr>
                <th>Campus</th>
                <td>{{ participant.campus.name }}</td>
           </tr>

        </tbody>
    </table>

    <button class="rectangular"><a href="{{ path('app_participant_index') }}">Retour</a></button>
    <br>

    {#
        button edit participant : idéalement disparaître en tant que utilisateur, apparaître en admin.
    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>

    #}
{#
    bouton delete participant : idéalement disparaître en tant que utilisateur, apparaître en admin.

    {{ include('participant/_delete_form.html.twig') }}
#}

{% endblock %}
