{% extends 'base.html.twig' %}

{% block title %}Consulter les sorties{% endblock %}



{% block body %}
    {% block nav %}
        Date du jour : {{ "now"|date("d/m/Y") }}
        <br>
        Participant : {{ app.user.firstName }} {{app.user.lastName|first}}.
    {% endblock %}


    {{ form_start(filterForm) }}

    {{ form_row(filterForm.campus) }}
    {{ form_row(filterForm.search) }}
    {{ form_row(filterForm.startingDate) }}
    {{ form_row(filterForm.endingDate) }}

    {{ form_widget(filterForm.ownerTrip) }}
    {{ form_label(filterForm.ownerTrip) }}

    {{ form_widget(filterForm.registerTrip) }}
    {{ form_label(filterForm.registerTrip) }}


    {{ form_widget(filterForm.unsuscribeTrip) }}
    {{ form_label(filterForm.unsuscribeTrip) }}

    {{ form_widget(filterForm.pastTrip) }}
    {{ form_label(filterForm.pastTrip) }}

    <button type="submit" name="search" class="search">Rechercher</button>
    {{ form_end(filterForm) }}



    <table class="tableau-style">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrit/Place</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for trip in listTrips %}
            {% if not(app.user is not same as(trip.owner) and trip.state.stateCode is same as('CREA')) %}

                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.dateStartHour|date('Y-m-d H:i') }}</td>
                    <td>{{ trip.dateLimitRegistration|date('Y-m-d') }}</td>
                    <td> {{ trip.registeredParticipants|length }}/{{ trip.nbMaxRegistration }}</td>
                    <td>{{ trip.state.worded }}</td>

                    {#                app.user récupère l'utilisateur courant #}
                    <td>{% if app.user in trip.registeredParticipants %}
                            X{% endif %}</td>
                    <td>{{ trip.owner.pseudo }}</td>

                    <td>{% if app.user is same as(trip.owner) and trip.state.stateCode is same as('CREA') %}
                            <p><a href="{{ path('app_update_trip',{'id':trip.id}) }}">Modifier</a> - <a
                                        href="{{ path('app_display_trip',{'id':trip.id}) }}">Publier</a></p>

                        {% elseif app.user is same as(trip.owner) and trip.state.stateCode is same as('OPEN') %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}">Afficher</a> - Annuler</p>

                        {% elseif  trip.dateStartHour|date('Y-m-d') is same as(trip.dateLimitRegistration|date('Y-m-d')) %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}">Afficher</a></p>

                        {% elseif app.user in trip.registeredParticipants and trip.registeredParticipants|length is same as(trip.nbMaxRegistration) %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}"></a> - <a
                                        href="{{ path('unsubscribe',{'id':trip.id}) }}">Se désister</a></p>


                        {% elseif app.user in trip.registeredParticipants and trip.state.stateCode is same as('OPEN') %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}">Afficher</a> - <a
                                        href="{{ path('unsubscribe',{'id':trip.id}) }}">Se désister</a></p>

                        {% elseif app.user not in trip.registeredParticipants and trip.state.stateCode is same as('OPEN') %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}">Afficher</a> - <a
                                        href="{{ path('register',{'id':trip.id}) }}">S'inscrire</a></p>


                        {% elseif  trip.state.stateCode is same as('PROG') or trip.state.stateCode is same as('CLOS') or trip.state.stateCode is same as('CANC') or trip.state.stateCode is same as('FENC') %}
                            <p><a href="{{ path('app_display_trip',{'id':trip.id}) }}">Afficher</a></p>
                        {% endif %}

                    </td>


                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{path('app_create_trip')}}">

        <button type="button">Créer une sortie</button>

    </a>

{% endblock %}
