{% extends 'base.html.twig' %}

{% block title %}Hello PlaceController!{% endblock %}

{% block body %}

    <h1>Créer un nouveau lieu</h1>

    {{ form_start(createPlace) }}

    {{ form_row(createPlace.city) }}
    {{ form_row(createPlace.name) }}

    {{ form_row(createPlace.enregistrer) }}

    {{ form_end(createPlace) }}

{% endblock %}
