{% extends 'base.html.twig' %}

{% block title %}CreateTrip{% endblock %}

{% block body %}


    <h2>Annuler une sortie</h2>

    {{ form_start(cancelTrip) }}

    {{ form_row(cancelTrip.cancelMotif) }}
    {{ form_row(cancelTrip.annulerSortie) }}
    <a href="{{ path('filter') }}">{{ form_row(cancelTrip.retour) }}</a>

    {{ form_end(cancelTrip) }}

{% endblock %}
